<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Simple Website</title>
</head>


<body>
<h1> TODO QUERY </h1>

  <ul id="todos">
     {% for item in items %}
    <li class="flash">{{ item.name, item.id}}</li>
  {% endfor %}
  </ul>


  <form action="/api/items" method="post" id="create">
    <input type="text" name="name">
    <input type="submit">
  </form>





  <script>
    const todoList = document.querySelector("#todos");

    async function update() {
      const response = await fetch("/api/items");
      const todos = await response.json();
      todoList.innerHTML = "";
      todos.items.forEach(todo => {
        insert(todo)
      });
    } 

    function insert(todo) {
        const item = document.createElement("li");
        item.innerHTML = todo.name;
        todoList.appendChild(item)
    }


    document.querySelector("#create").addEventListener("submit", async (event) => {
      event.preventDefault();

      

      const name = new FormData(event.target).get("name");

      const response = await fetch("/api/items", {
        method: "post",
        body: JSON.stringify({name}),
        headers: {
          "Content-Type": "application/json"
        }
      })

      const item = await response.json()
     insert(item.item)

    })


    update();

    



  </script>
  </ul>

</body>

</html>